<div class="content">
    <mat-list>
        <mat-list-item *ngFor="let user of users; trackBy: trackByFn" class="userListItem">
              <div matListItemTitle class="info"><span>{{user?.name}}</span> | 
              <span class="email">{{user?.email}}</span>
              <span>{{user?.role}}</span></div>
        </mat-list-item>
      </mat-list>


      <div class="pagination">
        <button mat-mini-fab color="accent" (click)="goTo('First')">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="first_page"></mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="goTo('Previous')">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_left"></mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="goTo('Next')">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="goTo('Last')">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="last_page"></mat-icon>
        </button>
      </div>
</div>