.userListItem{
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 8px;
    .info{
        span:last-child{
            float: right;
            font-size: 12px;
        }
        .email{
            color: red;
            font-size: 14px;
        }
    }
}